node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.pytest_cache
.coverage
htmlcov
*.egg-info/
dist/
build/
frontend/build
backend/.pytest_cache
tests/.pytest_cache
