version: 1
formatters:
  standard:
    format: '%(asctime)s [%(levelname)s] %(name)s: %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: standard
  file:
    class: logging.FileHandler
    level: DEBUG
    formatter: standard
    filename: logs/audit_collector.log
loggers:
  '':
    level: INFO
    handlers: [console, file]
